@import url("https://fonts.googleapis.com/css2?family=Caprasimo:wght@400;700&display=swap");

.banner-content {
	top: 5%;
	transform: translateX(-50%);
	padding: 4rem 2rem;
	max-width: 1000px;
	color: white;
	list-style-type: none;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.banner-content h2 {
	font-size: 2rem;
	font-family: Caprasimo, sans-serif;
	color: var(--bg-color);
	-webkit-text-stroke: 1px var(--primary-color);
	text-stroke: 1px var(--primary-color);
	font-weight: 100;
	margin-bottom: 1rem;
}

.banner-content p {
	font-size: 1rem;
	line-height: 1.7;
	margin-bottom: 1.2rem;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.banner-content li + li {
	margin-top: 4rem;
}